In [12]:
import numpy as np
import pandas as pd
import pyreadstat
import simple_icd_10_cm as cm

In [6]:
PCR_ICD_df = pd.read_csv("/Volumes/Research/GoldenHourData/InclusionCriteria/TESTfiltered_pcrkey_icdcodes_combined.csv")
PCR_ICD_df

/var/folders/8z/2fsswr_n583bdsllmv7ptxr80000gn/T/ipykernel_29671/3468380712.py:1: DtypeWarning: Columns (1,2,3,4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  PCR_ICD_df = pd.read_csv("/Volumes/Research/GoldenHourData/InclusionCriteria/TESTfiltered_pcrkey_icdcodes_combined.csv")

             pcrkey      dx1  dx2  dx3  dx4  dx5
0       225614208.0    V49.9  NaN  NaN  NaN  NaN
1       225616504.0      Y32  NaN  NaN  NaN  NaN
2       225616872.0    V49.9  NaN  NaN  NaN  NaN
3       225617087.0    X95.9  NaN  NaN  NaN  NaN
4       225618934.0    W13.9  NaN  NaN  NaN  NaN
...             ...      ...  ...  ...  ...  ...
281860  289215928.0  7701003  NaN  NaN  NaN  NaN
281861  289278280.0  7701003  NaN  NaN  NaN  NaN
281862  289280833.0  7701003  NaN  NaN  NaN  NaN
281863  289280835.0  7701003  NaN  NaN  NaN  NaN
281864  289283589.0  7701001  NaN  NaN  NaN  NaN

[281865 rows x 6 columns]

In [8]:
dx_columns = ['dx1', 'dx2', 'dx3', 'dx4', 'dx5']
all_dx_entries = pd.concat([PCR_ICD_df[dx] for dx in dx_columns])
entry_counts = all_dx_entries.value_counts()
top_10_entries = entry_counts.head(10)

print("Top 10 most common entries and their counts:")
print(top_10_entries)

Top 10 most common entries and their counts:
V49.9      29816
W01        26354
7701003    16905
W18.30     16260
V89.9      15313
W19        12380
V29.9      11882
W17         7001
W18         6908
Y32         6230
Name: count, dtype: int64

In [18]:
def icd_code_desc(icd_code):
    try: return cm.get_description(icd_code)
    except: return icd_code

In [26]:
# convert icd codes to descriptions

icd_code_descriptions = pd.DataFrame({
    'ICD_Code': top_10_entries.index,
    'Count': top_10_entries.values,
    'Description': [icd_code_desc(code) for code in top_10_entries.index]
})
icd_code_descriptions

  ICD_Code  Count                                        Description
0    V49.9  29816  Car occupant (driver) (passenger) injured in u...
1      W01  26354  Fall on same level from slipping, tripping and...
2  7701003  16905                                            7701003
3   W18.30  16260                    Fall on same level, unspecified
4    V89.9  15313     Person injured in unspecified vehicle accident
5      W19  12380                                   Unspecified fall
6    V29.9  11882  Motorcycle rider (driver) (passenger) injured ...
7      W17   7001               Other fall from one level to another
8      W18   6908   Other slipping, tripping and stumbling and falls
9      Y32   6230     Crashing of motor vehicle, undetermined intent